.textarea {
  padding: 5px;
  border-radius: 5px;
  resize: none;
  margin-bottom: 10px;
}
.label {
  display: block;
  margin-bottom: 10px;
}
.counter,
.warning {
  margin-left: auto;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  padding: 5px;
}
.warning {
  color: red;
  background-color: #000;
}
