.app {
  display: block;
  border-radius: 10px;
  max-width: 500px;
  font-size: 18px;
  color: #010101;
  background-color: lightcoral;
  margin: 50px auto;
  padding: 15px;
}
.heading {
  font-size: 40px;
}
