.notifications {
  position: fixed;
  max-width: 350px;
  width: 370px;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightcoral;
  padding: 18px 0 18px 16px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
}
